/* 处理input边框问题 */
.el-input__wrapper {
  background: none !important;
  box-shadow: none !important;
}
/* 处理头像灰色的底 */
.el-avatar {
  --el-avatar-background-color: none !important;
}
.el-button--small{
  padding: 15px 17px !important;
  font-size: 14px !important;
}
